{% extends "base_site.html" %}
{% load i18n %}

{% block content-messages %}
{% if form.errors and not form.non_field_errors%}
<div class="row">
    <span class="offset2 span8">
        <div class="alert alert-error">{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</div>
    </span>
</div>
{% endif %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="row">
    <div class="offset3 span6 well">
        <legend>{% trans 'Change password' %}</legend>
        <div class="row">
            <div class="span2">
                {% trans 'Please use the form to change your password' %}
            </div>
            <div class="span4">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a> {{error}}</div>
                {% endfor %}
                {% endif %}
                <form action="" method="post" id="login-form" class="">{% csrf_token %}
                    <div class="control-group {% if form.old_password.errors %} error" rel="tooltip" title="{{form.old_password.errors|join:', '}}"{% else %}"{% endif %}>
                        <input type="password" class="span4" name="old_password" placeholder="{% trans 'Current password' %}">
                    </div>
                    <div class="control-group {% if form.new_password1.errors %} error" rel="tooltip" title="{{form.new_password1.errors|join:', '}}"{% else %}"{% endif %}>
                        <input type="password" class="span4" name="new_password1" placeholder="{% trans 'New password' %}">
                    </div>
                    <div class="control-group {% if form.new_password2.errors %} error" rel="tooltip" title="{{form.new_password2.errors|join:', '}}"{% else %}"{% endif %}>
                        <input type="password" class="span4" name="new_password2" placeholder="{% trans 'New password (again)' %}">
                    </div>
                    <button type="submit" name="submit" class="btn btn-info btn-block">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}