{% extends "base_site.html" %}
{% load i18n %}

{% block content %}{% spaceless %}
<div class="row">
    <div class="span12 jumbotron">
        <div class="carousel slide nomargin" data-interval="45000" id="news-carousel">
            <ol class="carousel-indicators invert">
            {% for newsitem in news %}
                <li data-target="#news-carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for newsitem in news %}
                <div class="item{% if forloop.first %} active{% endif %}">
                    {% if newsitem.background %}
                    <img src="{{newsitem.background.url}}" alt="">
                    {% endif %}
                    <div class="container">
                        <h1>
                            <a href="{% url 'frontpage:news-item' id=newsitem.pk slug=newsitem.translation.title|slugify %}">{{newsitem.translation.title}}</a>
                        </h1>
                        {{newsitem.translation.intro|safe}}
                        <blockquote class="nomargin nopadding" style="border-left: 0px solid transparent;">
                            <small>{{newsitem.author}} @ {{newsitem.authored}}</small>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="span12">
        <h2 class="al center nomargin">{% trans 'Ladders' %}</h2>
    </div>
    <div class="span4">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="al center"{% if ladders.signup %} colspan="3"{% endif %}><h4>{% trans 'Signup open' %}</h4></th>
                </tr>
            </thead>
            <tbody>
            {% if not ladders.signup %}
                <tr>
                    <td class="al center">{% trans 'No signups open' %}</td>
                </tr>
            {% else %}{% for ladder in ladders.signup %}
                <tr rel="tooltip-table" title="{{ladder.translation.short_desc}}">
                    {% if ladder.signup_ends %}
                    <td>{{ladder.signup_ends|timeuntil}}</td>
                    {% else %}
                    <td>{% trans 'N/A' %}</td>
                    {% endif %}
                    <td>{{ladder.translation.name}}</td>
                    <td></td>
                </tr>
            {% endfor %}{% endif %}
            </tbody>
        </table>
    </div>
    <div class="span4">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="al center"{% if ladders.active %} colspan="3"{% endif %}><h4>{% trans 'Running' %}</h4></th>
                </tr>
            </thead>
            <tbody>
            {% if not ladders.active %}
                <tr>
                    <td class="al center">{% trans 'No active ladders' %}</td>
                </tr>
            {% else %}{% for ladder in ladders.active %}
                <tr rel="tooltip-table" title="{{ladder.translation.short_desc}}">
                    {% if ladder.ladder_ends %}
                    <td>{{ladder.ladder_ends|timeuntil}}</td>
                    {% else %}
                    <td>{% trans 'N/A' %}</td>
                    {% endif %}
                    <td>{{ladder.translation.name}}</td>
                    <td></td>
                </tr>
            {% endfor %}{% endif %}
            </tbody>
        </table>
    </div>
    <div class="span4">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="al center"{% if ladders.upcoming %} colspan="3"{% endif %}><h4>{% trans 'Upcoming' %}</h4></th>
                </tr>
            </thead>
            <tbody>
            {% if not ladders.upcoming %}
                <tr>
                    <td class="al center">{% trans 'No upcoming ladders' %}</td>
                </tr>
            {% else %}{% for ladder in ladders.upcoming %}
                <tr rel="tooltip-table" title="{{ladder.translation.short_desc}}">
                    {% if ladder.ladder_start %}
                    <td>{{ladder.ladder_start|timeuntil}}</td>
                    {% else %}
                    <td>{% trans 'N/A' %}</td>
                    {% endif %}
                    <td>{{ladder.translation.name}}</td>
                    <td></td>
                </tr>
            {% endfor %}{% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endspaceless %}{% endblock content %}