{% extends "base_site.html" %}
{% load i18n %}

{% block content %}{% spaceless %}
<div class="row">
    <div class="span12">
        <div class="carousel slide nomargin" data-interval="45000" style="min-height: 200px;" id="news-carousel">
            <ol class="carousel-indicators invert">
            {% for newsitem in news %}
                <li data-target="#news-carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for newsitem in news %}
                <div class="item{% if forloop.first %} active{% endif %}">
                    {% if newsitem.background %}
                    <img src="{{newsitem.background.url}}" alt="">
                    {% endif %}
                    <div class="container">
                        <h1>
                            <a href="{% url 'frontpage:news-item' id=newsitem.pk slug=newsitem.translation.title|slugify %}">{{newsitem.translation.title}}</a>
                        </h1>
                        {{newsitem.translation.intro|safe}}
                        <blockquote class="nomargin nopadding" style="border-left: 0px solid transparent;">
                            <small>{{newsitem.author}} @ {{newsitem.authored}}</small>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endspaceless %}{% endblock content %}