{% extends "base_site.html" %}
{% load i18n %}

{% block content %}{% spaceless %}
<div class="row">
    <div class="span12">
        <div class="carousel slide nomargin">
            <div class="carousel-inner">
                {% for newsitem in news %}
                <div class="item{% if forloop.first %} active{% endif %}">
                    {% if newsitem.background %}
                    <img src="{{newsitem.background.url}}" alt="">
                    {% endif %}
                    <div class="container">
                        <h1>
                            {{newsitem.translation.title}}
                        </h1>
                        <p>
                            {{newsitem.translation.intro|safe}}
                        </p>
                        <p>
                            {{newsitem.author}} @ {{newsitem.authored}} <a href="">{% trans 'Read more...' %}</a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endspaceless %}{% endblock content %}