{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify design %}
{% load admin_urls %}

{% block js-head %}
{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../../jsi18n/" }}"></script>
{% endblock %}
{% block stylesheet %}{{ block.super }}{# <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" /> #}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
	<li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a> <span class="divider">/</span></li>
	<li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }} <span class="divider">/</span></li>
	<li><a href="{% url opts|admin_urlname:'changelist' %}{{ original.pk }}">{{ original|truncatewords:"18" }}</a> <span class="divider">/</span></li>
	<li>{% trans 'Change password' %}</li>
</ul>
{% endblock %}
{% endif %}


{% block content-messages %}
{{block.super}}
{% if form.errors %}
<div class="row">
	<div class="span12">
		<div class="alert alert-error">{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</div>
		
		{% if form.non_form_errors %}
			{% for err in form.non_form_errors %}
			<div class="alert alert-error">
				{{err}}
			</div>
			{% endfor %}
		{% endif %}
	</div>		
</div>

{% endif %}
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" action="{{ form_url}}" id="{{ opts.module_name }}_form">{% csrf_token %}
	{% block form_top %}{% endblock %}
	{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
	<legend>{% blocktrans with username=original.username %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</legend>
	<fieldset class="module aligned">
		<div class="control-group row {% if form.password1.errors %} error{% endif %}">
			<div style="float: left; display: inline-block;" class="span12 {% if form.password2.errors %} alert{% endif %}">
				<label for="id_password1" class="required control-label"><i class="icon-asterisk"></i> {% trans 'Password' %}:</label> {{ form.password1 }}
				{% if form.password1.errors %}
				<br />
				<span class="alert alert-error">
					{% for err in form.password1.errors %}
						{{err}} <br/>
					{% endfor %}
				</span>
				{% endif %}
			</div>
		</div>
		<div class="control-group row {% if form.password2.errors %} error{% endif %}">
			<div style="float: left; display: inline-block;" class="span12 {% if form.password2.errors %} alert{% endif %}">
				<label for="id_password2" class="required control-label"><i class="icon-asterisk"></i> {% trans 'Verification' %}:</label> {{ form.password2 }}
				{% if form.password2.errors %}
				<br /> 
				<span class="alert alert-error">
					{% for err in form.password2.errors %}
						{{err}} <br/>
					{% endfor %}
				</span>
				{% endif %}
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="span12">
			<div class="form-actions form-actions-condensed">
				&nbsp;
				<div class="btn-group pull-right">
					<input type="submit" class="btn btn-primary" name="_save" value="{% trans 'Save'%}" {{ onclick_attrib }} />
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block content2 %}

<p>{% blocktrans with username=original.username %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</p>

<fieldset class="module aligned">

<div class="form-row">
  {{ form.password1.errors }}
  {# TODO: get required class on label_tag #}
  <label for="id_password1" class="required">{% trans 'Password' %}:</label> {{ form.password1 }}
</div>

<div class="form-row">
  {{ form.password2.errors }}
  {# TODO: get required class on label_tag #}
  <label for="id_password2" class="required">{% trans 'Password (again)' %}:</label> {{ form.password2 }}
  <p class="help">{% trans 'Enter the same password as above, for verification.' %}</p>
</div>

</fieldset>

<div class="submit-row">
<input type="submit" value="{% trans 'Change password' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_password1").focus();</script>
</div>
</form></div>
{% endblock %}
