@import "base.less";
@import "mixins.less";
@import "pygments.less";

.jumbotron {
    height: 250px;
    overflow-y: auto;
}

.carousel-indicators.invert {
    .active {
        background-color: #000;
    }
    li {
        background-color: #888;
        background-color: rgba(0,0,0,0.25);
    }
}

.no-list,
.no-list li {
    list-style-type: none;
    margin-left: 0; 
}

.force-border,
.row .force-border,
.container .force-border, {
    &.bottom {
        .border-bottom-radius();
    }
    &.top {
        .border-top-radius();
    }
    &.left {
        .border-left-radius();
    }
    &.right {
        .border-right-radius();
    }
}

.al {
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.center {
        text-align: center;
    }
    &.top {
        vertical-align: top;
    }
    &.bottom {
        vertical-align: bottom;
    }
    &.middle {
        vertical-align: middle;
    }
}

.table {
    &.table-doublezebra {
        tbody tr:nth-of-type(4n+1),
        tbody tr:nth-of-type(4n+2) {
            td,th {
                background-color: #F9F9F9;
            }
        }
        &.table-nostripedouble {
            tbody tr:nth-of-type(4n+2),
            tbody tr:nth-of-type(4n+0) {
                td, th {
                    border-top-width: 0;
                    border-top-color: transparent;
                    border-top-style: none;
                }
            } 
        }
    }
    &.table-nozebra {
        background-color: transparent;

        tbody {
            tr, tr td, tr th {
                background-color: transparent;
            }
            tr.table-zebra-single td,
            tr td.table-zebra-single,
            tr.table-zebra-single th,
            tr th.table-zebra-single {
                background-color: #F9F9F9;
            }
        }
    }
    &.table-noborder tbody {
        tr, tr td, tr th {
            .no-border;
        }
    }
    &.table-condensed tbody th,
    &.table-condensed tbody td {
        line-height: 18px;
    }
    &.table-nohover tbody tr:hover td,
    &.table-nohover tbody tr:hover th {
        .no-hover-table;
    }
    tbody tr.tr-nohover:hover td,
    tbody tr.tr-nohover:hover th {
        .no-hover-table;
    }
    &.table-borderless tr td,
    &.table-borderless tr th {
        .no-border;
    }
    &.table-centered tr td,
    &.table-centered tr th {
        text-align: center;
    }
    &.table-nomargin {
        margin-bottom: 0;
    }
    &.table-novborder td {
        border-top-width: 0px;
        border-top-style: solid;
        border-top-color: transparent;
    }
    &.nopadding,
    tr td.nopadding,
    tr.nopadding td {
        padding: 0;
    }
    &.table-condensed.extra td {
        padding: 3px 4px;
    }
    &.table-condensed.left-align td,
    &.table-condensed.left-align th {
        padding-left: 0px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    &.table-accordion-content {
        margin-bottom: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        .border-top-radius(0);
    }
    &.table-cancheck tbody {
        tr.checked, tr.checked td {
            background-color: #FFFFE1;
        }
        tr.checked:hover , tr.checked:hover td {
            background-color: #FFFFCC;
        }
    }
    tr td.tiny {
        width: 20px;
        text-align: center;
    }
}
form.form-nomargin {
    margin: 0;
}
.control-group.nomargin {
    margin: 0;
}

.pagination {
    &.pagination-nomargin {
        margin: 0;
    }
}
.progress {
    &.progress-nomargin {
        margin: 0;
    }
}
.progress-block {
    vertical-align: middle;
    line-height: 18px;
    
    .progress {
        margin: 0;
    }
    .bar-text-left {
        position: absolute;
        top: 0;
        left: 5px;
        text-align: left;
    }
    /* text on right side of progress bar */
    .bar-text-right {
        position: absolute;
        top: 0;
        right: 5px;
        text-align: right;
    }

    /* text on left side of progress bar */
    .bar-text-center {
        position: absolute;
        top: 0;
        left: 5px;
        width: 100%;
        text-align: center;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wrap > .container {
    padding-top: 60px;
}

.container .credit {
    margin: 10px 0;
    font-size: 80%;
}

input {
    &.input-mini {
        font-size: 10.5px;
        padding: 0 6px;
    }
}
form {
    &.form-marginless {
        margin: 0 0;
    }
}

.nav {
    &.nav-list {
        .subitem {
            line-height: 14px;
            a {
                font-size: 12px;
                padding-left: 35px;
            }
            &.with-icon a {
                padding-left: 15px;
            }      
        }
    }
    &.nav-tabs.small-tabs {
        li a {
            min-width: 49px;
            margin-bottom: 2px;
            padding: 4px 8px;
        }
    }
}

[class*="span"].nomargin {
    margin-left: 0 !important;    
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}


@media (max-width:1024px){
    #content h1 {
        font-size: 31px;
    }
    #content h2 {
        font-size: 26px;
    }
    #content h3 {
        font-size: 21px;
    }
}
@media (max-width:768px){
    #content h1 {
        font-size: 28px;
    }
    #content h2 {
        font-size: 23px;
    }
    #content h3 {
        font-size: 18px;
    }
}
@media (max-width:768px){
    #content h1 {
        font-size: 28px;
    }
    #content h2 {
        font-size: 23px;
    }
    #content h3 {
        font-size: 18px;
    }
}
@media (max-width:480px){
    #content h1 {
        font-size: 26px;
    }
    #content h2 {
        font-size: 21px;
    }
    #content h3 {
        font-size: 16px;
    }
}
@media (max-width: 979px) {
    .dropdown-submenu > .dropdown-menu {
        display: block;
    }
    .dropdown-submenu .dropdown-toggle 
    {
        &:after {
            border: 0px none transparent;
        }
        .caret {
            display: none;
        }
    }
}

li.auto-overflow {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
